/// COLOR SCHEME VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

// Blues
$lightestBlue: #f6fbff;
$lightBlue: #8ab1cf;
$darkBlue: #152642;
$darkestBlue: #0f172a;

// Purples
$lightestPurple: #d5bcef;
$lightPurple: #5965a4;
$darkPurple: #372a48;
$darkestPurple: #1a1429;

// Oranges
$primaryOrange: #ff7300;
$lightOrange: lighten($primaryOrange, 40%);
$lightestOrange: lighten($primaryOrange, 49.8%);

// MAIN PANEL
body {
  color: whitesmoke;
  font-family: 'Roboto Mono';
  margin: 0;
  height: 100%;
}

.components-body {
  width: 60%;
}

h3 {
  color: $primaryOrange;
  // text-shadow: 0 0 0.5px gray;
}

.Mui-focused {
  background-color: $lightBlue;
}

// adjustable, movable sidepane

#root {
  display: flex;
  flex-direction: column;
  overflow: none;
}

#main-container {
  display: flex;
  flex-direction: row;
  background-color: $darkestBlue;
  overflow: none;
  border-top: 1px solid #3d424a;
}
#panel-container {
  background-color: $darkestBlue;
  width: 60%;
  height: 100%;
  overflow-x: none;
  overflow-y: auto;
  border-right: 1px solid #3d424a;

  #panel-header {
    display: flex;
    background-color: $darkBlue;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    #panel-toggle {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #3d424a;
      padding: 8px;
      .buttonToggle {
        background-color: $darkBlue;
        opacity: 0.5;
        color: lightgrey;
        padding: 5px 15px;
        border-color: rgb(211, 211, 211);
        border: 1px solid grey;
        text-transform: uppercase;
        box-shadow: 1px 1px grey;
        transition: ease background-color 250ms;
        &:hover {
          background-color: rgb(57, 71, 94);
        }
        &:disabled {
          cursor: default;
          opacity: 0.7;
        }
        &.active {
          opacity: 1;
        }
      }
      .buttonToggle.button0 {
        border-radius: 5px 0px 0px 5px;
      }
      .buttonToggle.button1 {
        border-radius: 0px 5px 5px 0px;
      }
    }

    #search-bar {
      display: flex;
      align-items: center;
      padding: 2px 10px;
      .search-icon {
        opacity: 0.5;
        scale: 0.8;
      }
      #text-to-search {
        background-color: $darkBlue;
        width: 100%;
        border: none;
        margin: 5px;
        padding-left: 10px;
      }
    }
  }
}
.container {
  padding-top: 10px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f8f8ff;
  opacity: 0.5; /* Firefox */
}
// SIDE PANE
#sidepane-container {
  background-color: $darkestBlue;
  width: 40%;
  height: 100%;
  padding: 20px;
  color: whitesmoke;
  margin: 0;
  font-size: 15px;
}

hr {
  margin: 30px -20px 30px;
  border: 0;
  border-top: 1px solid #3d424a;
}

.separator {
  height: 20px;
  width: 1px;
  flex: 0 0 1px;
  margin: 0 0.5rem;
  background-color: #3d424a;
}

// to do: media queries for side view, bottom view, size changes
// when too narrow, put sidepane underneath
