---
let count = 0
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Header</title>
	</head>
	<body>
		<h1>You clicked the header!</h1>
        <!-- <button onclick={count++}>{count}</button> -->
        <br>
        <a href='/'>Go Back Home</a>
	</body>
</html>