---

---
<html lang="en">
	<head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/kirby-icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Darth Vader's Enemy</title>
	</head>
	<body>
		<header style={{textAlign: 'left'}}>
			<a href='/'>EXIT</a>
		</header>
		<h1 style={{textAlign: 'center'}}>Kirby has been released from cell and is causing havoc. Death Star is stalled!</h1>
		<img id='kirby-star-wars' src='kirby-star-wars.jpeg'/>
	</body>
</html>

<style>
	body {
		margin: 50px 0 0;
		background: url(/space-background.jpeg);
        color: lightblue;
        font-family: 'Orbitron', sans-serif;
		font-size: 40px;
		text-shadow: 0 0 2px white;
	}
	#kirby-star-wars {
		display: block;
		max-width: 70%;
		margin: 0 auto;
		border: 4px solid lightblue;
		border-radius: 20px;
	}
	header {
        margin-left: 20px;
        font-size: 20px;
    }
    a {
        color: lightblue
    }
    a:hover {
        color: plum
    }
</style>