---
import ReactCounter from "../components/ReactCounter";
import ReactSecret from "../components/ReactSecret";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Secret</title>
	</head>
	<body>
		<h1>Secret page</h1>
        <div>
            <ReactCounter />
            <p>
                without client:load
            </p>
            
        </div>
        <div>
            <ReactCounter client:load />
            <p>
                with client:load
            </p>
            
        </div>
        <a href='/'>Go Back Home</a>
	</body>
</html>