---
import ReactCounter from "../components/ReactCounter";
import ReactSecret from "../components/ReactSecret";
---
<html lang="en">
	<head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/kirby-icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Darth Vader's Secret</title>
	</head>
	<body>
		<header>
			<a href='/'>EXIT</a>
		</header>
        <main>
            <h1>Darth Vader's Secret</h1>
            <div id='letter'>
                <h1>To: Darth Vader</h1>
                <hr>
                <div id='letter-contents'>
                    <img id='leia-luke' src='leia-luke.jpeg' alt='leia-and-luke'/>
                    <div id='dna-results'>
                        <p>In regards to 23 year old Luke Skywalker and 23 year old Leia Organa, Mr. Vader,</p>
                        <h2>YOU ARE THE FATHER</h2>
                        <p>From: DNA Sector</p>
                    </div>
                    
                </div> 
            </div>
        </main>
	</body>
</html>

<style>
	body {
        margin-top: 50px;
		background: url(/space-background.jpeg);
        color: lightblue;
        font-family: 'Orbitron', sans-serif;
        text-shadow: 0 0 2px white;
	}
    header {
        margin-left: 20px;
        font-size: 20px;
    }
    a {
        color: lightblue
    }
    a:hover {
        color: plum
    }
    main {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }
    #letter {
        padding: 40px 20px;
        max-width: 1200px;
        background: black;
        border: 20px outset gray;
    }
    #leia-luke {
        margin-top: 39px;
        max-width: 30%;
        border: 2px solid lightblue;
        border-radius: 10px;
    }
    #letter-contents {
        max-width: 100%;
        display: flex;
    }
    #dna-results {
        padding: 20px 20px;
        font-size: 25px;
    }
</style>